# ensures only node version >= 16 or < 17 & pnpm version > 7 is used (see package.json engines field)
engine-strict=true

# ensures that the workspace packages are properly linked on fresh project setup
prefer-workspace-packages=true
link-workspace-packages=true

node-linker=hoisted